In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-1.5.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.2 MB)
     |████████████████████████████████| 12.2 MB 3.6 MB/s eta 0:00:01
Collecting numpy>=1.20.3; python_version < "3.10"
  Downloading numpy-1.24.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
     |████████████████████████████████| 17.3 MB 6.5 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.1 in /home/saivineetha/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
     |████████████████████████████████| 499 kB 8.9 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.14.0)
Installing collected packages: numpy, pytz, pandas
Successfully installed numpy-1.24.1 pandas-1.5.3 pytz-2022.7.1
Note: you may need to restart the kernel to use updated packages.

In [19]:
pip install "psycopg[binary]"

Requirement already satisfied: psycopg[binary] in /home/saivineetha/.local/lib/python3.8/site-packages (3.1.8)
Requirement already satisfied: backports.zoneinfo>=0.2.0; python_version < "3.9" in /home/saivineetha/.local/lib/python3.8/site-packages (from psycopg[binary]) (0.2.1)
Requirement already satisfied: typing-extensions>=4.1 in /home/saivineetha/.local/lib/python3.8/site-packages (from psycopg[binary]) (4.4.0)
Requirement already satisfied: psycopg-binary<=3.1.8,>=3.1.6; extra == "binary" in /home/saivineetha/.local/lib/python3.8/site-packages (from psycopg[binary]) (3.1.8)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [4]:
pd.__version__

'1.5.3'

In [2]:
df = pd.read_csv('yellow_tripdata_2019-01.csv', nrows = 100)

In [10]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.5,1,N,151,239,1,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.6,1,N,239,246,1,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,0.0,1,N,236,236,1,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN
3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5,0.0,1,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN
4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5,0.0,2,N,193,193,2,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN

In [3]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [4]:
from sqlalchemy import create_engine

In [5]:
# Specify the type of database for creating engine
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [6]:
engine.connect()

In [8]:
# Adding the data to Postgres

# First generate the schema

In [7]:
pd.io.sql.get_schema(df, name='yellow_taxi_data')

'CREATE TABLE "yellow_taxi_data" (\n"VendorID" INTEGER,\n  "tpep_pickup_datetime" TIMESTAMP,\n  "tpep_dropoff_datetime" TIMESTAMP,\n  "passenger_count" INTEGER,\n  "trip_distance" REAL,\n  "RatecodeID" INTEGER,\n  "store_and_fwd_flag" TEXT,\n  "PULocationID" INTEGER,\n  "DOLocationID" INTEGER,\n  "payment_type" INTEGER,\n  "fare_amount" REAL,\n  "extra" REAL,\n  "mta_tax" REAL,\n  "tip_amount" REAL,\n  "tolls_amount" REAL,\n  "improvement_surcharge" REAL,\n  "total_amount" REAL,\n  "congestion_surcharge" REAL\n)'

In [8]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [9]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [10]:
# Using iterator to chunk csv file into smaller dataframes
df_iter = pd.read_csv('yellow_tripdata_2019-01.csv', iterator=True, 
                chunksize=100000)

In [11]:
df_iter

In [12]:
df1 = next(df_iter)

In [13]:
len(df1)

100000

In [14]:
df1.tpep_pickup_datetime = pd.to_datetime(df1.tpep_pickup_datetime)
df1.tpep_dropoff_datetime = pd.to_datetime(df1.tpep_dropoff_datetime)

In [15]:
df1.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.5,1,N,151,239,1,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.6,1,N,239,246,1,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,0.0,1,N,236,236,1,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN
3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5,0.0,1,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN
4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5,0.0,2,N,193,193,2,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN

In [16]:
df1.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [17]:
df1.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [18]:
# Appending data to the table created
%time 
df1.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 3 µs, sys: 2 µs, total: 5 µs
Wall time: 8.11 µs

1000

In [19]:
from time import time

In [20]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    print('Inserted another chunk..., took %.3f seconds' % (t_end - t_start))

Inserted another chunk..., took 16.246 seconds
Inserted another chunk..., took 12.485 seconds
Inserted another chunk..., took 13.325 seconds
Inserted another chunk..., took 11.815 seconds
Inserted another chunk..., took 14.763 seconds
Inserted another chunk..., took 16.013 seconds
Inserted another chunk..., took 15.428 seconds
Inserted another chunk..., took 12.024 seconds
Inserted another chunk..., took 10.956 seconds
Inserted another chunk..., took 12.468 seconds
Inserted another chunk..., took 14.574 seconds
Inserted another chunk..., took 13.262 seconds
Inserted another chunk..., took 13.970 seconds
Inserted another chunk..., took 12.314 seconds
Inserted another chunk..., took 11.336 seconds
Inserted another chunk..., took 11.396 seconds
Inserted another chunk..., took 12.145 seconds
Inserted another chunk..., took 10.712 seconds
Inserted another chunk..., took 11.474 seconds
Inserted another chunk..., took 14.476 seconds
Inserted another chunk..., took 12.238 seconds
Inserted another chunk..., took 12.769 seconds
Inserted another chunk..., took 10.370 seconds
Inserted another chunk..., took 14.585 seconds
Inserted another chunk..., took 14.430 seconds
Inserted another chunk..., took 15.183 seconds
Inserted another chunk..., took 12.837 seconds
Inserted another chunk..., took 12.456 seconds
Inserted another chunk..., took 14.385 seconds
Inserted another chunk..., took 14.162 seconds
Inserted another chunk..., took 11.872 seconds
Inserted another chunk..., took 10.998 seconds
Inserted another chunk..., took 13.078 seconds
Inserted another chunk..., took 11.356 seconds
Inserted another chunk..., took 11.637 seconds
Inserted another chunk..., took 12.693 seconds
Inserted another chunk..., took 13.002 seconds
Inserted another chunk..., took 10.588 seconds
Inserted another chunk..., took 11.199 seconds
Inserted another chunk..., took 13.074 seconds
Inserted another chunk..., took 11.190 seconds
Inserted another chunk..., took 12.161 seconds
Inserted another chunk..., took 10.511 seconds
Inserted another chunk..., took 10.532 seconds
Inserted another chunk..., took 11.241 seconds
Inserted another chunk..., took 11.070 seconds
Inserted another chunk..., took 9.871 seconds
Inserted another chunk..., took 10.693 seconds
Inserted another chunk..., took 10.296 seconds
Inserted another chunk..., took 11.397 seconds
Inserted another chunk..., took 19.478 seconds
Inserted another chunk..., took 13.020 seconds
Inserted another chunk..., took 14.010 seconds
Inserted another chunk..., took 13.588 seconds
Inserted another chunk..., took 14.019 seconds
Inserted another chunk..., took 11.628 seconds
Inserted another chunk..., took 10.747 seconds
Inserted another chunk..., took 11.069 seconds
Inserted another chunk..., took 10.904 seconds
Inserted another chunk..., took 11.360 seconds
Inserted another chunk..., took 10.768 seconds
Inserted another chunk..., took 11.257 seconds
Inserted another chunk..., took 18.734 seconds
Inserted another chunk..., took 10.839 seconds
Inserted another chunk..., took 11.207 seconds
Inserted another chunk..., took 11.057 seconds
Inserted another chunk..., took 11.469 seconds
Inserted another chunk..., took 12.410 seconds
Inserted another chunk..., took 11.716 seconds
Inserted another chunk..., took 10.350 seconds
Inserted another chunk..., took 16.286 seconds
Inserted another chunk..., took 9.736 seconds
Inserted another chunk..., took 13.445 seconds
Inserted another chunk..., took 11.709 seconds
Inserted another chunk..., took 10.892 seconds
Inserted another chunk..., took 6.668 seconds

StopIteration: