In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [3]:
import psycopg2

In [7]:
# Specify the type of database for creating engine
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi_hw")

In [8]:
engine.connect()

In [9]:
# !gzip -d green_tripdata_2019-01.csv.gz

gzip: green_tripdata_2019-01.csv.gz: No such file or directory

In [ ]:
ls

In [12]:
# Using iterator to chunk csv file into smaller dataframes
green_taxi_iter = pd.read_csv('green_tripdata_2019-01.csv')

In [13]:
green_taxi_iter.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [14]:
len(green_taxi_iter)

630918

In [15]:
taxi_data = pd.read_csv('taxi+_zone_lookup.csv')

In [16]:
taxi_data.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [17]:
len(taxi_data)

265

In [18]:
print(pd.io.sql.get_schema(taxi_data, name='taxi_dt', con=engine))

CREATE TABLE taxi_dt (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [20]:
print(pd.io.sql.get_schema(green_taxi_iter, name='green_taxi_dt', con=engine))

CREATE TABLE green_taxi_dt (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [22]:
green_taxi_iter.lpep_pickup_datetime = pd.to_datetime(green_taxi_iter.lpep_pickup_datetime)
green_taxi_iter.lpep_dropoff_datetime = pd.to_datetime(green_taxi_iter.lpep_dropoff_datetime)

In [23]:
print(pd.io.sql.get_schema(green_taxi_iter, name='green_taxi_dt', con=engine))

CREATE TABLE green_taxi_dt (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)